@font-face {
	font-family: JosefinLight;
	src: url(../fonts/Josefin/JosefinSans-Light.ttf)
}

@font-face {
	font-family: JosefinRegular;
	src: url(../fonts/Josefin/JosefinSans-Regular.ttf)
}

@font-face {
	font-family: JosefinBold;
	src: url(../fonts/Josefin/JosefinSans-Bold.ttf)
}

@font-face {
	font-family: LatoRegular;
	src: url(../fonts/Lato/Lato-Regular.ttf)
}

@font-face {
	font-family: LatoThin;
	src: url(../fonts/Lato/Lato-Thin.ttf)
}

@font-face {
	font-family: LatoLight;
	src: url(../fonts/Lato/Lato-Light.ttf)
}

@font-face {
	font-family: Helvetica-Neue;
	src: url(../fonts/Helvetica-Neue/Helvetica-Neue.ttf)
}

body,
html {
	font-family: JosefinRegular;
	-webkit-font-smoothing: antialiased;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
    height: 100%;
}

body::-webkit-scrollbar {
	display: none
}

::-moz-selection {
	color: #fff;
	background: #101010
}

::selection {
	color: #fff;
	background: #101010
}

#logo {
	text-align: left;
	font-family: Helvetica-Neue;
	letter-spacing: 0;
	color: #707070;
	opacity: 1
}

.custom-border {
	border: 1px solid #707070;
	opacity: 1;
}