@import url("https://fonts.googleapis.com/css?family=Poppins");
/* Variables */
/* General */
* {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  background: white;
  box-shadow: 2.5px 2.5px 20px 5px rgba(176, 176, 176, 0.3);
  padding: 100px;
}

hr {
  border: solid 1.5px #000a0f;
  width: 75%;
}

/* Headline Text */
.headline {
  font-size: 50px;
  text-align: center;
}

.subline {
  font-size: 25px;
  text-align: center;
  margin-bottom: 125px;
}
.subline a {
  color: #000a0f;
  text-decoration: none;
  border-bottom: solid 3px #000a0f;
  padding: 0 5px;
  transition: 0.75s;
}
.subline a:hover {
  background: #000a0f;
  color: #fff;
}

/* Button Group */
.button-group {
  width: 100%;
  text-align: center;
  margin-bottom: 125px;
}
.button-group div {
  margin: 5em 0;
}
.button-group a {
  padding: 10px 30px;
  margin: 1em;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

/* Button Styling */
.btn {
  color: #FFF;
  font-size: 20px;
}

.btn1 {
  background-color: #f1c40f;
}
.btn1:hover {
  box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px #f1c40f, 0px 0px 0px 10px white, 0px 0px 0px 10.5px #f1c40f;
  background: white;
  color: #f1c40f;
}

.btn2 {
  background-color: #1abc9c;
}
.btn2:hover {
  box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px #1abc9c;
}

.btn3 {
  background-color: #e74c3c;
  letter-spacing: 0px;
}
.btn3:hover {
  letter-spacing: 10px;
  box-shadow: 2.5px 2.5px 0px 5px white, 5px 5px 0px 7.5px #e74c3c;
  background: none;
  border: 2.5px solid #e74c3c;
  color: #e74c3c;
}

.btn4 {
  background-color: #2ecc71;
}
.btn4:hover {
  padding: 1em 1.5em;
  letter-spacing: 2.5px;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #2ecc71, 0 0 0 2px white inset, 0 0 0 5px #2ecc71, 7.5px 7.5px 0 2.5px white, 10px 10px 0 5px #2ecc71;
}

.btn5 {
  background-color: #9b59b6;
}
.btn5:hover {
  box-shadow: 0px 0px 0 5px white, 0 0px 0 5px white, 10px 0px 0 10px #9b59b6, 15px 0 0 5px white, -10px 0 0 10px #9b59b6, -15px 0 0 5px white;
  background: none;
  color: #9b59b6;
  border-bottom: solid 5px #9b59b6;
}

.btn6 {
  background-color: #e67e22;
}
.btn6:hover {
  box-shadow: 0 0 0 5px white inset, 0 0 0 7.5px #e67e22 inset, 0 0 0 10px white inset, 0 0 0 1px #e67e22, 0 0 0 3px white, 0 0 0 5px #e67e22;
  background: none;
  color: #e67e22;
  border-radius: 10px;
}

.btn7 {
  background-color: #d81b60;
}
.btn7:hover {
  box-shadow: 2.5px 2.5px 0 2.5px white, -2.5px -2.5px 0 2.5px white, 0 0 0 2px white inset, 10px 10px 0 10px #d81b60, -10px -10px 0 10px #d81b60;
}

.btn8 {
  background-color: #76ff03;
}
.btn8:hover {
  box-shadow: 0 0 0 1px white, 0 0 0 2px #76ff03, 0 0 0 5px #76ff03, 0 0 0 6.5px white, 0 0 0 7px #76ff03;
  border-radius: 100px;
  background: none;
  color: #76ff03;
}

/* Social Links */
.social-links {
  text-align: center;
}
.social-links ul {
  list-style: none;
}
.social-links ul li {
  display: inline-block;
  padding: 10px;
}

.social-links a {
  color: #000a0f;
  font-size: 10px;
  text-decoration: none;
  padding: 5px;
  border-bottom: solid 1.5px #000a0f;
  transition: 0.75s;
}
.social-links a:hover {
  background: #000a0f;
  color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .headline {
    font-size: 25px;
  }

  .subline {
    font-size: 12.5px;
  }

  .btn {
    font-size: 10px;
  }
}
@media only screen and (max-width: 420px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .headline {
    font-size: 20px;
  }

  .subline {
    font-size: 10px;
  }

  .btn {
    font-size: 8px;
  }
}