html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-example__tilt {
    width: 20vw;
    height: 40vh;
    display: block;
    background-color: #9e21ff;
    background-image: linear-gradient(135deg, #ed21ff 0%, #9e21ff 100%, #9e21ff 100%);
    box-shadow: 0 3px 47px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transform: perspective(300px);
}

.c-example__tilt-inner {
    transform: translateZ(50px) translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
}